@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Outfit";
  src: url("./fonts/Outfit-VariableFont_wght.ttf") format("truetype");
}
* {
  color: #000;
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.9s ease;
}
.answ {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.9s ease;
}
@media (min-width: 769px) {
  /* Apply max-height: 300px for screen sizes greater than 768px */
  .answ {
    max-height: 300px;
  }
}
.faq.active .answer {
  max-height: 300px;
}
.faq.active .answ {
  max-height: 300px;
}

.faq.active img {
  transform: rotate(180deg);
}

.demo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
    to top,
    #dad4ec 0%,
    #dad4ec 1%,
    #f3e7e9 100%
  );
}
.demo .menu-icon {
  transform: scale(1.5);
}
:root {
  --bar-bg: #212529;
}
.menu-icon {
  position: relative;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.menu-icon .menu-icon__cheeckbox {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
  z-index: 2;
  -webkit-touch-callout: none;
  position: absolute;
  opacity: 0;
}
.menu-icon div {
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 22px;
  height: 12px;
}
.menu-icon span {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--bar-bg, #000);
  border-radius: 1px;
  transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);
}
.menu-icon span:first-of-type {
  top: 0;
}
.menu-icon span:last-of-type {
  bottom: 0;
}
.menu-icon.active span:first-of-type,
.menu-icon .menu-icon__cheeckbox:checked + div span:first-of-type {
  transform: rotate(45deg);
  top: 5px;
}
.menu-icon.active span:last-of-type,
.menu-icon .menu-icon__cheeckbox:checked + div span:last-of-type {
  transform: rotate(-45deg);
  bottom: 5px;
}
.menu-icon.active:hover span:first-of-type,
.menu-icon.active:hover span:last-of-type,
.menu-icon:hover .menu-icon__cheeckbox:checked + div span:first-of-type,
.menu-icon:hover .menu-icon__cheeckbox:checked + div span:last-of-type {
  width: 22px;
}
@media (min-width: 1024px) {
  .menu-icon:hover span:first-of-type {
    width: 26px;
  }
  .menu-icon:hover span:last-of-type {
    width: 12px;
  }
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 19px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #dae0e6;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  margin-right: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #0530a1;
}

input:focus + .slider {
  box-shadow: 0 0 1px #0530a1;
}

input:checked + .slider:before {
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Hide the default checkbox */
.custom-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: relative;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 4px;
  border: 1px solid #ddd;
  display: inline-block;
  margin-right: 10px;
}

/* Style the checkmark when the checkbox is checked */
.custom-checkbox:checked + .checkmark {
  background-color: #437ef7;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark/indicator when checked */
.custom-checkbox:checked + .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
.fade-in {
  -webkit-animation: fade-in 1s ease-in-out both;
  animation: fade-in 1s ease-in-out both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
li {
  color: #676767;
}

.calendar-container {
  margin: 0 auto;
  width: 100%; /* Try 100% width without specifying max-width initially */
}

/* Basic Header Styling */
.custom-calendar .react-calendar__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2em;
}

.custom-calendar .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease;
}

.custom-calendar .react-calendar__tile--now {
  background-color: #e0f7fa;
  color: #00796b;
}

.custom-calendar .react-calendar__tile--active {
  background-color: #61f5ba;
  color: white;
  height: 48px;
  width: 48px;
  /* opacity: 0.5; */
  border-radius: 50%;
}

/* Make each tile a relative container */
.custom-calendar .react-calendar__tile {
  position: relative; /* This allows child elements with absolute positioning to align within it */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 48px;
  transition: background-color 0.2s ease;
}

/* Highlighted event dates */
.highlighted-date {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2f52ff; /* Custom color for event highlights */
  border-radius: 50%;
  z-index: 1; /* Position it behind the date text */
}

/* Date text styling */
.react-calendar__tile > abbr {
  position: relative; /* Keeps date text above the highlight */
  z-index: 2;
  font-weight: bold;
  color: #333; /* Adjust color to ensure visibility on blue background */
}

/* Container for the timeline */
.timeline-container {
  display: grid;
  grid-template-rows: repeat(31, 1fr); /* Assuming max 31 days */
  grid-auto-flow: row;
  gap: 4px;
  width: 100%;
  position: relative;
  padding: 10px;
  border: 1px solid #ddd;
}

/* Style each event */
.timeline-event {
  background-color: #e0f7fa;
  border-left: 4px solid #00796b;
  padding: 8px;
  border-radius: 4px;
  color: #333;
  font-weight: bold;
}

/* Styling for event labels */
.event-label {
  font-size: 0.9em;
  text-transform: capitalize;
}

/* Optional styling for event weeks */
.timeline-event.week-event {
  background-color: #bbdefb;
  border-left: 4px solid #0d47a1;
}

/* Overwrite the default to keep the scrollbar always visible */
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
